@{
    var orderNum = "";
    var customer = "";
    var dateOrdered = "";
    var total = "";
    var orderId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["deskOrderID"].IsEmpty() && Request.QueryString["deskOrderID"].IsInt())
        {
            orderId = Request.QueryString["deskOrderID"];
            var db = Database.Open("NavajaDeskOrders");
            var dbCommand = "SELECT * FROM deskorder WHERE deskOrderID = @0";
            var row = db.QuerySingle(dbCommand, orderId);
            if (row != null)
            {
                orderNum = row.orderNumber.ToString();
                customer = row.name;
                dateOrdered = row.orderDate.ToString();
                total = row.totalPrice.ToString();
            }
            else {
                Validation.AddFormError("No order was found for that ID.");
            }
        }
        else {
            Validation.AddFormError("No order was found for that ID.");
        }
    }
    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        orderId = Request.Form["orderId"];
        var db = Database.Open("NavajaDeskOrders");
        var deleteCommand = "DELETE FROM deskorder WHERE deskOrderID = @0";
        db.Execute(deleteCommand, orderId);
        Response.Redirect("~/NavajaDesksHome");
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Order</title>
    <link href="~/styles/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("~/Shared/_Navigation.cshtml")
    <header class="jumbotron">
        <h1 class="text-center text-uppercase">Delete Order</h1>
    </header>

    <div class="container">
    @Html.ValidationSummary()
    <p><a href="~/NavajaDesksHome">Return to Orders</a></p>

        <form method="post">
            <fieldset class="form-group">
                <legend class="col-form-legend">Order Details</legend>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">
                        Order Number:
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="orderNum" value="@orderNum" readonly />
                        </div>
                    </div>

                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            Customer Name:
                        </label>
                    <div class="col-sm-10">
                        <input class="form-control"  type="text" name="customer" value="@customer" readonly/>
                    </div>
               </div>

                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Date Created:
                            </label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="dateOrdered" value="@dateOrdered" readonly />
                        </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    Total Price:
                                </label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="total" value="$@total" readonly />
                            </div>
                            </div>

                            <input type="hidden" name="orderid" value="@orderId" />
</fieldset>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" name="buttonDelete" value="Delete Order">Delete Order</button>
                    </div>
                </div>

        </form>
        </div>
    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>